#loading_msg {
  text-align: center;
  color: gray;
  font-size: 24px;
}

#result>div {
  border-top: 1px solid #666;
  font-size: 95%;
  line-height: 150%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#result div div {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

#result div div.control {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  text-align: right;
  line-height: 1em;
}

.control a {
  font-size: 85%;
  color: #666;
  text-decoration: underline;
}

.control a:visited {
  color: #999;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  vertical-align: -25%;
  margin: 2px;
  padding: 0px;
  border: solid 1px #aaa;
}

.framed {
  border: 1px solid #999;
  background-color: #ccc;
  font-size: 90%;
  margin: 3px 0;
}

.collapsible.collapsed {
  display: none;
}

form {
  margin: 0;
  padding: 0;
}
