doctype
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title GlyphWiki の重複するグリフ
    link(rel="stylesheet", href="index.css")
  body
    .lr-margin
      h1 GlyphWiki の重複するグリフ
      p
        | グリフ名に関連字を括弧でくくって併記してあります。データは毎週自動で更新します。
        br
        | 作った人：
        a(href="https://glyphwiki.org/wiki/User:twe") 利用者:twe
        |  (
        a(href="https://twitter.com/kurgm") @kurgm
        | )、ソースコード：
        a(href="https://github.com/kurgm/gw_duplicates") kurgm/gw_duplicates
    #app
      div(style="color:gray;font-size:24px;text-align:center")
        | 準備中...
    noscript.lr-margin
      | JavaScript が無効になっているため表示できません
    script(src="app.tsx")
